img {
    position: relative;
    left: 32%;
    bottom: -1px;
    align-items: center;
    border-radius: 1px;
}
.home-icon {
    width: 143px;
    height: 107px;
}
.searchBar {
    height: 58%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.account {
    width: 84px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 160px;
}
.cart {
    width: 48px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 32px;
}
