.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(206, 201, 201);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
}

.leftpart {
    border: 0px solid rgba(211, 206, 206, 0.5);
    width: 31%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 2px 2px rgb(195, 194, 194);
}

img {
    position: relative;
    left: 15%;
    top: 5%;
    width:30%;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 200px;
}

.rightpart {
    border: 1px solid rgba(198, 194, 194, 0.5);
    background-color: white;
    position: relative;
    right: 3%;
    width: 41%;
    height: 140%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 2px rgb(201, 198, 198);
}

.buttons {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 1%;
    padding: 1px;
}

button.signIn {
    width: 50px;
    height: 34px;
}

button.signUp {
    width: 55px;
    height: 34px;
}

.flogin {
    color: black;
}

.log-email {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    margin: 1px 1px 1px 1px;
}

.log-pass {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1px;
    margin: 1px 1px 1px 1px;
}

.button-sin {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.or {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
}

.option {
    width: 89%;
    height: 12%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10%;
}

.button {
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
}

.button1:hover {
    background-color: #04AA6D;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}
.forgot {
    width: 61%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-left: 40px;
    padding-bottom: 1px;
}